# Core
numpy>=1.24
pandas>=2.0
scipy>=1.11
scikit-learn>=1.2
scikit-image>=0.21

# Medical imaging
SimpleITK>=2.3
pydicom>=2.4

# Annotation GUI
matplotlib>=3.7
napari[all]>=0.4.18
magicgui>=0.8
qtpy>=2.4
PyQt5>=5.15

# Config
pyyaml>=6.0
